.gex {
    display: inline-block;
    text-align: center;
    width: 360px;
}

.title {
    display: inline-block;
    margin: 20% 0 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    background-color: aquamarine;
}

.description {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 8% 0 6%;
    width: 75%;
    border: solid 2px black;
    border-radius: 1rem;
    font-size: 0.9rem;
}

.description p {
    font-size: 1.2rem;
    line-height: 0.3rem;
}

.overview {
    display: inline-block;
    width: 75%;
    padding-top: 10px;
    /* background-color: rgb(208, 180, 235); */
    border: solid 2px black;
    border-radius: 1rem;
}

.overview-n {
    text-align: left;
    margin: 0% 12% 8%;
    font-size: 0.75em;
    line-height: 1.3rem;
}

.start {
    margin-top: 20px;
    margin-bottom: 20px;
}

.start-btn {
    /* position: fixed; */
    display: inline-block;
    text-decoration: none;
    line-height: 3rem;
    background: #000000;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6) inset; */
    width: 100px;
    /* height: 50px; */
    /* font-size: 0.8em; */
    /* z-index: 1; */
}
