.gex {
    display: inline-block;
    text-align: center;
}

.title {
    display: inline-block;
    margin: 20% 0 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    background-color: aquamarine;
}

.description {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 8% 0 6%;
    width: 75%;
    border: solid 2px black;
    border-radius: 1rem;
    font-size: 0.9rem;
}

.description p {
    font-size: 1.2rem;
    line-height: 0.3rem;
}

.overview {
    display: inline-block;
    width: 75%;
    padding-top: 10px;
    /* background-color: rgb(208, 180, 235); */
    border: solid 2px black;
    border-radius: 1rem;
}

.overview-n {
    text-align: left;
    margin: 0% 12% 10%;
    font-size: 0.75em;
    line-height: 1.1rem;
}

.start {
    margin-top: 20px;
    margin-bottom: 20px;
}

.start-btn {
    /* position: fixed; */
    display: inline-block;
    text-decoration: none;
    line-height: 3rem;
    background: #000000;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6) inset; */
    width: 100px;
    /* height: 50px; */
    /* font-size: 0.8em; */
    /* z-index: 1; */
}


/* color、formのスタイル */

.question {
    margin-top: 30%;
    text-align: center;
    font-size: 2em;
}

.color {
    margin: 10% 15%;
}

#red {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
}

#orenge {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: orange;
    border-radius: 50%;
}

#yellow {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: yellow;
    border-radius: 50%;
}

#rightgreen {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: yellowgreen;
    border-radius: 50%;
}

#skyblue {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: skyblue;
    border-radius: 50%;
}

#blue {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: blue;
    border-radius: 50%;
}

#purple {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: purple;
    border-radius: 50%;
}

#pink {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: pink;
    border-radius: 50%;
}